<div class="container">
    <h2>Detalles del Auto</h2>
  
    <form [formGroup]="autoForm" (ngSubmit)="guardarAuto()">
      <label for="marca">Marca:</label>
      <input id="marca" type="text" formControlName="marca" />
  
      <label for="modelo">Modelo:</label>
      <input id="modelo" type="text" formControlName="modelo" />
  
      <label for="año">Año:</label>
      <input id="año" type="number" formControlName="año" />
  
      <label for="color">Color:</label>
      <input id="color" type="text" formControlName="color" />
  
      <label for="precio">Precio:</label>
      <input id="precio" type="number" formControlName="precio" />
  
      <button type="submit" [disabled]="autoForm.invalid">Guardar Auto</button>
    </form>
  </div>
  